.inputCont {
  display: flex;
  min-width: 50%;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
  flex-flow: row wrap;
}

.input {
  max-width: 377px;
}

.buttonMargin {
  margin-right: 68px;
}

.circleCont {
  display: flex;
  flex-flow: row wrap;
  margin: 48px auto 0;
  max-width: 944px;
  justify-content: center;
  row-gap: 50px;
  column-gap: 16px;
  padding: 0;
  list-style-type: none;
}