.cont {
  display: flex;
  min-width: 50%;
  justify-content: center;
  gap: 12px;
  margin: 0 auto;
}

.input {
  max-width: 377px;
}

.circleContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 120px auto 0;
  justify-content: center;
  gap: 16px;
  padding: 0;
  list-style-type: none;
}